.social-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-background-color);
  padding: 0.5rem;
  border-radius: 2rem;
  cursor: pointer;
}

.social-login p {
  margin: 0.5rem;
}
