.profile {
  margin-bottom: 10rem;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--light-background-color);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.profile-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}

.profile-details-text {
  font-weight: bolder;
}

.change-btn {
  cursor: pointer;
  background-color: var(--main-color);
  padding: 0.25rem 0.75rem;
  height: 2rem;
  color: var(--light-background-color);
  border-radius: 1.5rem;
}

.profile-card {
  background-color: var(--light-background-color);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 500px;
}

.profile-name,
.profile-email,
.profile-address,
.profile-name-active,
.profile-address-active {
  all: unset;
  margin: 0.3rem 0;
  font-weight: bold;
  width: 100%;
}

.profile-email {
  cursor: not-allowed;
}
